@font-face {
    font-family: 'marcellus_scregular';
    src: url('assets/marcellussc-regular-webfont.woff2') format('woff2'),
         url('assets/marcellussc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cinzelregular';
    src: url('assets/cinzel-variablefont_wght-webfont.woff2') format('woff2'),
         url('assets/cinzel-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body, html {
    height: auto;
    width: auto;
    --card-columns: 200px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 8fr .5fr;
    grid-template-areas: 
    "header header"
    "sideNav main"
    "footer footer";
    overflow: auto;

}

.header {
    grid-area: header;
    background-color: rgba(69, 26, 3, .9);
    background-image: linear-gradient(to bottom right, rgba(69, 26, 3, .2), rgba(69, 26, 3, .2), rgba(69, 26, 3, .2), rgba(121, 83, 62, 0.2), rgba(69, 26, 3, .2), rgba(69, 26, 3, .2), rgba(69, 26, 3, .2));
    box-shadow: 0px 5px 8px rgba(0, 0, 0, .6);
}

.sideNav {  
    grid-area: sideNav;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 55%;
    background-color: rgba(133, 78, 14, 0.4);
    /* background-color: rgba(146, 64, 14, .384); */
    box-shadow: 5px 0px 8px rgba(0, 0, 0, .6);
    font-family: 'marcellus_scregular'

};

.sideNav h1 {
    color: black; 
}

.sideNav p {
    color: black;
    font-size: 1.5rem;
    margin-top: -25px;
    padding-left: 6%;
    padding-right: 6%;
}

.sideNav button {
    width: 135px;
    height: 50px;
    margin-top: -45px;
    margin-bottom: 75px;
    border-radius: 10px;
}

#instruct {
    border-radius: 10px;
}

.main {
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;  
    background-color: rgba(161, 98, 7, .15);
}

.display {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: calc(1vw + .5em);
    overflow: auto;


}

#displayCard {
    display: grid;
    padding-top: 10px;
    height: 100%;
    width: 100%;

    grid-template-columns: repeat(6, var(--card-columns));
    grid-template-rows: repeat(auto-fill, calc(var(--card-columns) * 1.475));
    grid-auto-columns: var(--card-columns);
    grid-auto-rows: calc(var(--card-columns) * 1.475);
    gap: 25px;
    overflow: visible;
}

.footer {
    grid-area: footer;
    overflow: auto;
}

#displayCard>div {
    height: calc(var(--card-columns) * 1.475);
    border: 1px solid black;
    border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    display: grid;
    grid-template-columns: .28fr 1fr;
    grid-template-rows: 1fr;
    color: gold;
    font-size: 1.35rem;
    text-align: center;
    align-items: end;
    justify-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 9px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    grid-template-areas: 
    "spine cont";
    column-gap: 25px;
    overflow: auto;
    /* background-image: url("assets/book_damascene1_darkened4.png"); */
    /* background: rgb(44, 30, 12); */
    /* background: rgb(27, 19, 8); */
    background: rgba(22, 16, 6, .9);
    /* background-color: rgba(69, 26, 3, .9); */
    background-image: linear-gradient(to bottom right, rgba(69, 26, 3, .2), rgba(69, 26, 3, .2), rgba(69, 26, 3, .2), rgba(121, 83, 62, 0.2), rgba(69, 26, 3, .2), rgba(69, 26, 3, .2), rgba(69, 26, 3, .2));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 205%;
    padding: 0;
    
    font-family: 'cinzelregular', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    z-index: 1;
    gap: 0;
    overflow: visible;
    
}

.spine {
    grid-area: spine;
    /* background-color: rgba(0, 0, 0, 1); */
    background-color: black;
    /* position: relative; */
    border: 1px solid black;
    height: 100%;
    width: 102%;
    margin: 0;
    padding: 0;
    margin-left: -3px;
    /* border-top: 2px solid black; */
    border-top: 2px solid black;
    border-top-left-radius: 4px;
    /* border-right: 3px solid rgba(0, 0, 0, .8);
    border-left: 3px solid rgba(0, 0, 0, .8); */
    border-right: 3px solid black;
    border-left: 3px solid black;
    /* transform: translateY(.88%); */
    /* position: absolute; */
    /* box-sizing: content-box; */
    z-index: 1;
    overflow: visible;
    /* position: relative; */

}

.main #displayCard>div.dispCont>p {
    /* position: absolute; */
     /* border: 3px double goldenrod; */
    overflow: visible;
    z-index: 2;
    /* opacity: 1; */
    justify-self: center;
    align-self: center;
    padding: 0;
    /* left: 15px; */
    width: 102%;
    margin-right: 3px;
}

.main #displayCard>div span {
    background: linear-gradient( gold, gold, gold, gold, gold, rgb(151, 115, 22), goldenrod, rgb(146, 111, 21), rgb(148, 112, 23), rgb(151, 115, 22));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
    font-size: 1rem;

    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: .08px; */

}

#displayCard > div::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 99.9%;
    height: 3.5%; 
    background: repeating-linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) -.1px,
        rgba(255, 255, 255, 1) .4px,

        transparent 2px
    );
    border-top: 2.5px solid black;
    border-bottom: 2px solid black; 
    border-left: 4.5px solid black;

    z-index: 0; 
    transform: translateY(88%);
    margin: 0;
    margin-left: -2.5px;
    border-top-right-radius: 2px;
    border-right: 1.5px solid black;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 6px;
   
}

.openPopupBtn {
    padding-top: 3px;
    font-size: 18px;
    background-color: rgb(1, 59, 1);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.openPopupBtn:hover {
    background-color: green;
}

.overlayContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.popupBox {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    width: 320px;
    text-align: center;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInUp 0.5s ease-out forwards;
    z-index: 11;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.formLabel {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-align: left;
}

.formInput {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.submitBtn,
.closePopupBtn {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.submitBtn {
    background-color: rgb(1, 59, 1);
    color: #fff;
}

.closePopupBtn {
    margin-top: 12px;
    background-color: #e74c3c;
    color: #fff;
}

.submitBtn:hover,
.closePopupBtn:hover {
    /* background-color: #4caf50; */
    background-color: green;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlayContainer.show {
    display: flex;
    opacity: 1;
}

#hasReadLabel1, #hasReadLabel2, #hasReadNoLabel {
    display: flex;
    justify-content: space-between;
}



.bookMarkSVG {
    padding: 0;
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 120px;
    bottom: 59.5%;
    opacity: .85;
    z-index: 12;
}

#displayCard>div:hover {
    transform: scale(1.1);
}

.main #displayCard>div.dispCont>p:hover {
    cursor: pointer;
}

.main #displayCard>div.dispCont>p:active {
    transform: scale(.9);
}

.trashCanSVG {
    position: absolute;
    color: whitesmoke;
    fill: whitesmoke;
    opacity: .85;
    bottom: 5%;
    right: 5%;
    z-index: 15;
    width: 24px;
    height: 24px;
    transition: transform .5s ease;
    transform-origin: center;
}

.trashCanSVG:hover {
    transform: scale(1.5) rotate(360deg);
}

